/*
Veeva Vault API v25.1

The latest GA version of the Vault REST API.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiApiGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiApiGetRequest) Authorization(authorization string) ApiApiGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiApiGetRequest) Accept(accept string) ApiApiGetRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiApiGetRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiApiGetRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiApiGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiGetExecute(r)
}

/*
ApiGet Retrieve API Versions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiGetRequest
*/
func (a *DefaultAPIService) ApiGet(ctx context.Context) ApiApiGetRequest {
	return ApiApiGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefaultAPIService) ApiGetExecute(r ApiApiGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ApiGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	componentTypeAndRecordName string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest) Authorization(authorization string) ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest) Accept(accept string) ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiMdlComponentsComponentTypeAndRecordNameFilesGetExecute(r)
}

/*
ApiMdlComponentsComponentTypeAndRecordNameFilesGet Retrieve Content File

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param componentTypeAndRecordName The component type of the record followed by the name of the record from which to retrieve the content file. The format is `{Componenttype}.{record_name}`. For example, `Formattedoutput.my_formatted_output__c`.
 @return ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest
*/
func (a *DefaultAPIService) ApiMdlComponentsComponentTypeAndRecordNameFilesGet(ctx context.Context, componentTypeAndRecordName string) ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest {
	return ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest{
		ApiService: a,
		ctx: ctx,
		componentTypeAndRecordName: componentTypeAndRecordName,
	}
}

// Execute executes the request
func (a *DefaultAPIService) ApiMdlComponentsComponentTypeAndRecordNameFilesGetExecute(r ApiApiMdlComponentsComponentTypeAndRecordNameFilesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ApiMdlComponentsComponentTypeAndRecordNameFilesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/mdl/components/{component_type_and_record_name}/files"
	localVarPath = strings.Replace(localVarPath, "{"+"component_type_and_record_name"+"}", url.PathEscape(parameterValueToString(r.componentTypeAndRecordName, "componentTypeAndRecordName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	componentTypeAndRecordName string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest) Authorization(authorization string) ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest) Accept(accept string) ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiMdlComponentsComponentTypeAndRecordNameGetExecute(r)
}

/*
ApiMdlComponentsComponentTypeAndRecordNameGet Retrieve Component Record (MDL)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param componentTypeAndRecordName The component type name (`Picklist`, `Docfield`, `Doctype`, etc.) followed by the name of the record from which to retrieve metadata. The format is `{Componenttype}.{record_name}`. For example, `Picklist.color__c`. Find this with the [Retrieve Component Record Collection](https://developer.veevavault.com/api/24.3#Retrieve_Component_Record_Collection) endpoint.
 @return ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest
*/
func (a *DefaultAPIService) ApiMdlComponentsComponentTypeAndRecordNameGet(ctx context.Context, componentTypeAndRecordName string) ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest {
	return ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest{
		ApiService: a,
		ctx: ctx,
		componentTypeAndRecordName: componentTypeAndRecordName,
	}
}

// Execute executes the request
func (a *DefaultAPIService) ApiMdlComponentsComponentTypeAndRecordNameGetExecute(r ApiApiMdlComponentsComponentTypeAndRecordNameGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ApiMdlComponentsComponentTypeAndRecordNameGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/mdl/components/{component_type_and_record_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"component_type_and_record_name"+"}", url.PathEscape(parameterValueToString(r.componentTypeAndRecordName, "componentTypeAndRecordName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiMdlExecuteAsyncJobIdResultsGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	jobId string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiApiMdlExecuteAsyncJobIdResultsGetRequest) Authorization(authorization string) ApiApiMdlExecuteAsyncJobIdResultsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiApiMdlExecuteAsyncJobIdResultsGetRequest) Accept(accept string) ApiApiMdlExecuteAsyncJobIdResultsGetRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiApiMdlExecuteAsyncJobIdResultsGetRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiApiMdlExecuteAsyncJobIdResultsGetRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiApiMdlExecuteAsyncJobIdResultsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiMdlExecuteAsyncJobIdResultsGetExecute(r)
}

/*
ApiMdlExecuteAsyncJobIdResultsGet Retrieve Asynchronous MDL Script Results

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param jobId
 @return ApiApiMdlExecuteAsyncJobIdResultsGetRequest
*/
func (a *DefaultAPIService) ApiMdlExecuteAsyncJobIdResultsGet(ctx context.Context, jobId string) ApiApiMdlExecuteAsyncJobIdResultsGetRequest {
	return ApiApiMdlExecuteAsyncJobIdResultsGetRequest{
		ApiService: a,
		ctx: ctx,
		jobId: jobId,
	}
}

// Execute executes the request
func (a *DefaultAPIService) ApiMdlExecuteAsyncJobIdResultsGetExecute(r ApiApiMdlExecuteAsyncJobIdResultsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ApiMdlExecuteAsyncJobIdResultsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/mdl/execute_async/{job_id}/results"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiMdlExecuteAsyncPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiApiMdlExecuteAsyncPostRequest) Authorization(authorization string) ApiApiMdlExecuteAsyncPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiApiMdlExecuteAsyncPostRequest) Accept(accept string) ApiApiMdlExecuteAsyncPostRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiApiMdlExecuteAsyncPostRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiApiMdlExecuteAsyncPostRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiApiMdlExecuteAsyncPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiMdlExecuteAsyncPostExecute(r)
}

/*
ApiMdlExecuteAsyncPost Execute MDL Script Asynchronously

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiMdlExecuteAsyncPostRequest
*/
func (a *DefaultAPIService) ApiMdlExecuteAsyncPost(ctx context.Context) ApiApiMdlExecuteAsyncPostRequest {
	return ApiApiMdlExecuteAsyncPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefaultAPIService) ApiMdlExecuteAsyncPostExecute(r ApiApiMdlExecuteAsyncPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ApiMdlExecuteAsyncPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/mdl/execute_async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiMdlExecutePostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiApiMdlExecutePostRequest) Authorization(authorization string) ApiApiMdlExecutePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiApiMdlExecutePostRequest) Accept(accept string) ApiApiMdlExecutePostRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiApiMdlExecutePostRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiApiMdlExecutePostRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiApiMdlExecutePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiMdlExecutePostExecute(r)
}

/*
ApiMdlExecutePost Execute MDL Script

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiMdlExecutePostRequest
*/
func (a *DefaultAPIService) ApiMdlExecutePost(ctx context.Context) ApiApiMdlExecutePostRequest {
	return ApiApiMdlExecutePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefaultAPIService) ApiMdlExecutePostExecute(r ApiApiMdlExecutePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ApiMdlExecutePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/mdl/execute"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiMdlFilesPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	authorization *string
	accept *string
	contentType *string
	xVaultAPIClientID *string
}

func (r ApiApiMdlFilesPostRequest) Authorization(authorization string) ApiApiMdlFilesPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiApiMdlFilesPostRequest) Accept(accept string) ApiApiMdlFilesPostRequest {
	r.accept = &accept
	return r
}

func (r ApiApiMdlFilesPostRequest) ContentType(contentType string) ApiApiMdlFilesPostRequest {
	r.contentType = &contentType
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiApiMdlFilesPostRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiApiMdlFilesPostRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiApiMdlFilesPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiMdlFilesPostExecute(r)
}

/*
ApiMdlFilesPost Upload Content File

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiMdlFilesPostRequest
*/
func (a *DefaultAPIService) ApiMdlFilesPost(ctx context.Context) ApiApiMdlFilesPostRequest {
	return ApiApiMdlFilesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefaultAPIService) ApiMdlFilesPostExecute(r ApiApiMdlFilesPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ApiMdlFilesPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/mdl/files"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAudittrailAuditTrailTypeGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	auditTrailType string
	startDate *string
	endDate *string
	allDates *string
	formatResult *string
	limit *string
	offset *string
	objects *string
	events *string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

// Specify a start date to retrieve audit information. This date cannot be more than 30 days ago. Dates must be YYYY-MM-DDTHH:MM:SSZ format, for example, 7AM on January 15, 2016 would use 2016-01-15T07:00:00Z. If omitted, defaults to the last 30 days.
func (r ApiAudittrailAuditTrailTypeGetRequest) StartDate(startDate string) ApiAudittrailAuditTrailTypeGetRequest {
	r.startDate = &startDate
	return r
}

// Specify an end date to retrieve audit information. This date cannot be more than 30 days ago. Dates must be YYYY-MM-DDTHH:MM:SSZ format, for example, 7AM on January 15, 2016 would use 2016-01-15T07:00:00Z. If omitted, defaults to the last 30 days.
func (r ApiAudittrailAuditTrailTypeGetRequest) EndDate(endDate string) ApiAudittrailAuditTrailTypeGetRequest {
	r.endDate = &endDate
	return r
}

// Set to true to request audit information for all dates. You must leave start_date and end_date blank when requesting an export of a full audit trail.
func (r ApiAudittrailAuditTrailTypeGetRequest) AllDates(allDates string) ApiAudittrailAuditTrailTypeGetRequest {
	r.allDates = &allDates
	return r
}

// To request a downloadable CSV file of your audit details, use csv. The response contains a jobId to retrieve the job status, which contains a link to download the CSV file. If omitted, the API returns a JSON response and does not start a job. If all_dates is true, this parameter is required.
func (r ApiAudittrailAuditTrailTypeGetRequest) FormatResult(formatResult string) ApiAudittrailAuditTrailTypeGetRequest {
	r.formatResult = &formatResult
	return r
}

// Paginate the results by specifying the maximum number of histories per page in the response. This can be any value between 1 and 1000. If omitted, defaults to 200.
func (r ApiAudittrailAuditTrailTypeGetRequest) Limit(limit string) ApiAudittrailAuditTrailTypeGetRequest {
	r.limit = &limit
	return r
}

// Paginate the results displayed per page by specifying the amount of offset from the entry returned. For example, if you are viewing the first 50 results (page 1) and want to see the next page, set this to offset&#x3D;51. If omitted, defaults to 0.
func (r ApiAudittrailAuditTrailTypeGetRequest) Offset(offset string) ApiAudittrailAuditTrailTypeGetRequest {
	r.offset = &offset
	return r
}

// This is an optional parameter when specifying object_audit_trail as the {audit_trail_type}. Provide a comma-separated list of one or more object names to retrieve their audit details. For example, objects&#x3D;product__v,country__v. If omitted, defaults to all objects.
func (r ApiAudittrailAuditTrailTypeGetRequest) Objects(objects string) ApiAudittrailAuditTrailTypeGetRequest {
	r.objects = &objects
	return r
}

// This is an optional parameter when specifying object_audit_trail or document_audit_trail as the {audit_trail_type}. Provide a comma-separated list of one or more audit events to retrieve their audit details. For example, events&#x3D;Edit,Delete,TaskAssignment. If omitted, defaults to all audit events. See Vault Help for full lists of object audit events and document audit events.
func (r ApiAudittrailAuditTrailTypeGetRequest) Events(events string) ApiAudittrailAuditTrailTypeGetRequest {
	r.events = &events
	return r
}

func (r ApiAudittrailAuditTrailTypeGetRequest) Authorization(authorization string) ApiAudittrailAuditTrailTypeGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiAudittrailAuditTrailTypeGetRequest) Accept(accept string) ApiAudittrailAuditTrailTypeGetRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiAudittrailAuditTrailTypeGetRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiAudittrailAuditTrailTypeGetRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiAudittrailAuditTrailTypeGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.AudittrailAuditTrailTypeGetExecute(r)
}

/*
AudittrailAuditTrailTypeGet Retrieve Audit Details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param auditTrailType The name of the specified audit type (document_audit_trail, object_audit_trail, etc). Use the Retrieve Audit Types API to retrieve types available in your Vault. Requests for login_audit_trail only accept one request per user at a time.
 @return ApiAudittrailAuditTrailTypeGetRequest
*/
func (a *DefaultAPIService) AudittrailAuditTrailTypeGet(ctx context.Context, auditTrailType string) ApiAudittrailAuditTrailTypeGetRequest {
	return ApiAudittrailAuditTrailTypeGetRequest{
		ApiService: a,
		ctx: ctx,
		auditTrailType: auditTrailType,
	}
}

// Execute executes the request
func (a *DefaultAPIService) AudittrailAuditTrailTypeGetExecute(r ApiAudittrailAuditTrailTypeGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AudittrailAuditTrailTypeGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/audittrail/{audit_trail_type}"
	localVarPath = strings.Replace(localVarPath, "{"+"audit_trail_type"+"}", url.PathEscape(parameterValueToString(r.auditTrailType, "auditTrailType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.allDates != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "all_dates", r.allDates, "form", "")
	}
	if r.formatResult != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format_result", r.formatResult, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.objects != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objects", r.objects, "form", "")
	}
	if r.events != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "events", r.events, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAuthDiscoveryPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	accept *string
	xVaultAPIClientID *string
}

func (r ApiAuthDiscoveryPostRequest) Accept(accept string) ApiAuthDiscoveryPostRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiAuthDiscoveryPostRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiAuthDiscoveryPostRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiAuthDiscoveryPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.AuthDiscoveryPostExecute(r)
}

/*
AuthDiscoveryPost Authentication Type Discovery

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuthDiscoveryPostRequest
*/
func (a *DefaultAPIService) AuthDiscoveryPost(ctx context.Context) ApiAuthDiscoveryPostRequest {
	return ApiAuthDiscoveryPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefaultAPIService) AuthDiscoveryPostExecute(r ApiAuthDiscoveryPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AuthDiscoveryPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auth/discovery"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAuthOauthSessionOathOidcProfileIdPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	oathOidcProfileId string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiAuthOauthSessionOathOidcProfileIdPostRequest) Authorization(authorization string) ApiAuthOauthSessionOathOidcProfileIdPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiAuthOauthSessionOathOidcProfileIdPostRequest) Accept(accept string) ApiAuthOauthSessionOathOidcProfileIdPostRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiAuthOauthSessionOathOidcProfileIdPostRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiAuthOauthSessionOathOidcProfileIdPostRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiAuthOauthSessionOathOidcProfileIdPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.AuthOauthSessionOathOidcProfileIdPostExecute(r)
}

/*
AuthOauthSessionOathOidcProfileIdPost OAuth 2.0 / OpenID Connect

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oathOidcProfileId
 @return ApiAuthOauthSessionOathOidcProfileIdPostRequest
*/
func (a *DefaultAPIService) AuthOauthSessionOathOidcProfileIdPost(ctx context.Context, oathOidcProfileId string) ApiAuthOauthSessionOathOidcProfileIdPostRequest {
	return ApiAuthOauthSessionOathOidcProfileIdPostRequest{
		ApiService: a,
		ctx: ctx,
		oathOidcProfileId: oathOidcProfileId,
	}
}

// Execute executes the request
func (a *DefaultAPIService) AuthOauthSessionOathOidcProfileIdPostExecute(r ApiAuthOauthSessionOathOidcProfileIdPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AuthOauthSessionOathOidcProfileIdPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auth/oauth/session/{oath_oidc_profile_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"oath_oidc_profile_id"+"}", url.PathEscape(parameterValueToString(r.oathOidcProfileId, "oathOidcProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAuthPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	contentType *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiAuthPostRequest) ContentType(contentType string) ApiAuthPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiAuthPostRequest) Accept(accept string) ApiAuthPostRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiAuthPostRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiAuthPostRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiAuthPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.AuthPostExecute(r)
}

/*
AuthPost User Name and Password

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuthPostRequest
*/
func (a *DefaultAPIService) AuthPost(ctx context.Context) ApiAuthPostRequest {
	return ApiAuthPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefaultAPIService) AuthPostExecute(r ApiAuthPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AuthPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auth"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodeClassNameDeleteRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	className string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiCodeClassNameDeleteRequest) Authorization(authorization string) ApiCodeClassNameDeleteRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodeClassNameDeleteRequest) Accept(accept string) ApiCodeClassNameDeleteRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodeClassNameDeleteRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodeClassNameDeleteRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodeClassNameDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodeClassNameDeleteExecute(r)
}

/*
CodeClassNameDelete Delete Single Source Code File

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param className The fully qualified class name of your file.
 @return ApiCodeClassNameDeleteRequest
*/
func (a *DefaultAPIService) CodeClassNameDelete(ctx context.Context, className string) ApiCodeClassNameDeleteRequest {
	return ApiCodeClassNameDeleteRequest{
		ApiService: a,
		ctx: ctx,
		className: className,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodeClassNameDeleteExecute(r ApiCodeClassNameDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodeClassNameDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code/{class_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"class_name"+"}", url.PathEscape(parameterValueToString(r.className, "className")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodeClassNameDisablePutRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	className string
	authorization *string
	accept *string
	contentType *string
	xVaultAPIClientID *string
}

func (r ApiCodeClassNameDisablePutRequest) Authorization(authorization string) ApiCodeClassNameDisablePutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodeClassNameDisablePutRequest) Accept(accept string) ApiCodeClassNameDisablePutRequest {
	r.accept = &accept
	return r
}

func (r ApiCodeClassNameDisablePutRequest) ContentType(contentType string) ApiCodeClassNameDisablePutRequest {
	r.contentType = &contentType
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodeClassNameDisablePutRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodeClassNameDisablePutRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodeClassNameDisablePutRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodeClassNameDisablePutExecute(r)
}

/*
CodeClassNameDisablePut Disable Vault Extension

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param className The fully qualified class name of your file.
 @return ApiCodeClassNameDisablePutRequest
*/
func (a *DefaultAPIService) CodeClassNameDisablePut(ctx context.Context, className string) ApiCodeClassNameDisablePutRequest {
	return ApiCodeClassNameDisablePutRequest{
		ApiService: a,
		ctx: ctx,
		className: className,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodeClassNameDisablePutExecute(r ApiCodeClassNameDisablePutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodeClassNameDisablePut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code/{class_name}/disable"
	localVarPath = strings.Replace(localVarPath, "{"+"class_name"+"}", url.PathEscape(parameterValueToString(r.className, "className")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodeClassNameEnablePutRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	className string
	authorization *string
	accept *string
	contentType *string
	xVaultAPIClientID *string
}

func (r ApiCodeClassNameEnablePutRequest) Authorization(authorization string) ApiCodeClassNameEnablePutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodeClassNameEnablePutRequest) Accept(accept string) ApiCodeClassNameEnablePutRequest {
	r.accept = &accept
	return r
}

func (r ApiCodeClassNameEnablePutRequest) ContentType(contentType string) ApiCodeClassNameEnablePutRequest {
	r.contentType = &contentType
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodeClassNameEnablePutRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodeClassNameEnablePutRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodeClassNameEnablePutRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodeClassNameEnablePutExecute(r)
}

/*
CodeClassNameEnablePut Enable Vault Extension

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param className The fully qualified class name of your file.
 @return ApiCodeClassNameEnablePutRequest
*/
func (a *DefaultAPIService) CodeClassNameEnablePut(ctx context.Context, className string) ApiCodeClassNameEnablePutRequest {
	return ApiCodeClassNameEnablePutRequest{
		ApiService: a,
		ctx: ctx,
		className: className,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodeClassNameEnablePutExecute(r ApiCodeClassNameEnablePutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodeClassNameEnablePut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code/{class_name}/enable"
	localVarPath = strings.Replace(localVarPath, "{"+"class_name"+"}", url.PathEscape(parameterValueToString(r.className, "className")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodeClassNameGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	className string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiCodeClassNameGetRequest) Authorization(authorization string) ApiCodeClassNameGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodeClassNameGetRequest) Accept(accept string) ApiCodeClassNameGetRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodeClassNameGetRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodeClassNameGetRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodeClassNameGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodeClassNameGetExecute(r)
}

/*
CodeClassNameGet Retrieve Single Source Code File

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param className The fully qualified class name of your file.
 @return ApiCodeClassNameGetRequest
*/
func (a *DefaultAPIService) CodeClassNameGet(ctx context.Context, className string) ApiCodeClassNameGetRequest {
	return ApiCodeClassNameGetRequest{
		ApiService: a,
		ctx: ctx,
		className: className,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodeClassNameGetExecute(r ApiCodeClassNameGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodeClassNameGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code/{class_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"class_name"+"}", url.PathEscape(parameterValueToString(r.className, "className")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodeProfilerGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiCodeProfilerGetRequest) Authorization(authorization string) ApiCodeProfilerGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodeProfilerGetRequest) Accept(accept string) ApiCodeProfilerGetRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodeProfilerGetRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodeProfilerGetRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodeProfilerGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodeProfilerGetExecute(r)
}

/*
CodeProfilerGet Retrieve All Profiling Sessions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCodeProfilerGetRequest
*/
func (a *DefaultAPIService) CodeProfilerGet(ctx context.Context) ApiCodeProfilerGetRequest {
	return ApiCodeProfilerGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodeProfilerGetExecute(r ApiCodeProfilerGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodeProfilerGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code/profiler"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodeProfilerPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	authorization *string
	contentType *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiCodeProfilerPostRequest) Authorization(authorization string) ApiCodeProfilerPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodeProfilerPostRequest) ContentType(contentType string) ApiCodeProfilerPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCodeProfilerPostRequest) Accept(accept string) ApiCodeProfilerPostRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodeProfilerPostRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodeProfilerPostRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodeProfilerPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodeProfilerPostExecute(r)
}

/*
CodeProfilerPost Create Profiling Session

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCodeProfilerPostRequest
*/
func (a *DefaultAPIService) CodeProfilerPost(ctx context.Context) ApiCodeProfilerPostRequest {
	return ApiCodeProfilerPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodeProfilerPostExecute(r ApiCodeProfilerPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodeProfilerPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code/profiler"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodeProfilerSessionNameActionsEndPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	sessionName string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiCodeProfilerSessionNameActionsEndPostRequest) Authorization(authorization string) ApiCodeProfilerSessionNameActionsEndPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodeProfilerSessionNameActionsEndPostRequest) Accept(accept string) ApiCodeProfilerSessionNameActionsEndPostRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodeProfilerSessionNameActionsEndPostRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodeProfilerSessionNameActionsEndPostRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodeProfilerSessionNameActionsEndPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodeProfilerSessionNameActionsEndPostExecute(r)
}

/*
CodeProfilerSessionNameActionsEndPost End Profiling Session

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionName The name of the session, for example,  baseline__c.
 @return ApiCodeProfilerSessionNameActionsEndPostRequest
*/
func (a *DefaultAPIService) CodeProfilerSessionNameActionsEndPost(ctx context.Context, sessionName string) ApiCodeProfilerSessionNameActionsEndPostRequest {
	return ApiCodeProfilerSessionNameActionsEndPostRequest{
		ApiService: a,
		ctx: ctx,
		sessionName: sessionName,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodeProfilerSessionNameActionsEndPostExecute(r ApiCodeProfilerSessionNameActionsEndPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodeProfilerSessionNameActionsEndPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code/profiler/{session_name}/actions/end"
	localVarPath = strings.Replace(localVarPath, "{"+"session_name"+"}", url.PathEscape(parameterValueToString(r.sessionName, "sessionName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodeProfilerSessionNameDeleteRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	sessionName string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiCodeProfilerSessionNameDeleteRequest) Authorization(authorization string) ApiCodeProfilerSessionNameDeleteRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodeProfilerSessionNameDeleteRequest) Accept(accept string) ApiCodeProfilerSessionNameDeleteRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodeProfilerSessionNameDeleteRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodeProfilerSessionNameDeleteRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodeProfilerSessionNameDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodeProfilerSessionNameDeleteExecute(r)
}

/*
CodeProfilerSessionNameDelete Delete Profiling Session

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionName The name of the session, for example,  baseline__c.
 @return ApiCodeProfilerSessionNameDeleteRequest
*/
func (a *DefaultAPIService) CodeProfilerSessionNameDelete(ctx context.Context, sessionName string) ApiCodeProfilerSessionNameDeleteRequest {
	return ApiCodeProfilerSessionNameDeleteRequest{
		ApiService: a,
		ctx: ctx,
		sessionName: sessionName,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodeProfilerSessionNameDeleteExecute(r ApiCodeProfilerSessionNameDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodeProfilerSessionNameDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code/profiler/{session_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"session_name"+"}", url.PathEscape(parameterValueToString(r.sessionName, "sessionName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodeProfilerSessionNameGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	sessionName string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiCodeProfilerSessionNameGetRequest) Authorization(authorization string) ApiCodeProfilerSessionNameGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodeProfilerSessionNameGetRequest) Accept(accept string) ApiCodeProfilerSessionNameGetRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodeProfilerSessionNameGetRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodeProfilerSessionNameGetRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodeProfilerSessionNameGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodeProfilerSessionNameGetExecute(r)
}

/*
CodeProfilerSessionNameGet Retrieve Profiling Session

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionName The name of the session, for example,  baseline__c.
 @return ApiCodeProfilerSessionNameGetRequest
*/
func (a *DefaultAPIService) CodeProfilerSessionNameGet(ctx context.Context, sessionName string) ApiCodeProfilerSessionNameGetRequest {
	return ApiCodeProfilerSessionNameGetRequest{
		ApiService: a,
		ctx: ctx,
		sessionName: sessionName,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodeProfilerSessionNameGetExecute(r ApiCodeProfilerSessionNameGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodeProfilerSessionNameGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code/profiler/{session_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"session_name"+"}", url.PathEscape(parameterValueToString(r.sessionName, "sessionName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodeProfilerSessionNameResultsGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	sessionName string
	authorization *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiCodeProfilerSessionNameResultsGetRequest) Authorization(authorization string) ApiCodeProfilerSessionNameResultsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodeProfilerSessionNameResultsGetRequest) Accept(accept string) ApiCodeProfilerSessionNameResultsGetRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodeProfilerSessionNameResultsGetRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodeProfilerSessionNameResultsGetRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodeProfilerSessionNameResultsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodeProfilerSessionNameResultsGetExecute(r)
}

/*
CodeProfilerSessionNameResultsGet Download Profiling Session Results

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionName The name of the session, for example,  baseline__c.
 @return ApiCodeProfilerSessionNameResultsGetRequest
*/
func (a *DefaultAPIService) CodeProfilerSessionNameResultsGet(ctx context.Context, sessionName string) ApiCodeProfilerSessionNameResultsGetRequest {
	return ApiCodeProfilerSessionNameResultsGetRequest{
		ApiService: a,
		ctx: ctx,
		sessionName: sessionName,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodeProfilerSessionNameResultsGetExecute(r ApiCodeProfilerSessionNameResultsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodeProfilerSessionNameResultsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code/profiler/{session_name}/results"
	localVarPath = strings.Replace(localVarPath, "{"+"session_name"+"}", url.PathEscape(parameterValueToString(r.sessionName, "sessionName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCodePutRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	authorization *string
	accept *string
	contentType *string
	xVaultAPIClientID *string
}

func (r ApiCodePutRequest) Authorization(authorization string) ApiCodePutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCodePutRequest) Accept(accept string) ApiCodePutRequest {
	r.accept = &accept
	return r
}

func (r ApiCodePutRequest) ContentType(contentType string) ApiCodePutRequest {
	r.contentType = &contentType
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCodePutRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCodePutRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCodePutRequest) Execute() (*http.Response, error) {
	return r.ApiService.CodePutExecute(r)
}

/*
CodePut Add or Replace Single Source Code File

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCodePutRequest
*/
func (a *DefaultAPIService) CodePut(ctx context.Context) ApiCodePutRequest {
	return ApiCodePutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CodePutExecute(r ApiCodePutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CodePut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/code"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept", r.accept, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	if r.xVaultAPIClientID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-VaultAPI-ClientID", r.xVaultAPIClientID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	edlHierarchyOrTemplate string
	authorization *string
	contentType *string
	accept *string
	xVaultAPIClientID *string
}

func (r ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest) Authorization(authorization string) ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest) ContentType(contentType string) ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest) Accept(accept string) ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest {
	r.accept = &accept
	return r
}

// Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin &gt; Logs &gt; API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as &#x60;unknown&#x60; in the API Usage Log.
func (r ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest) XVaultAPIClientID(xVaultAPIClientID string) ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest {
	r.xVaultAPIClientID = &xVaultAPIClientID
	return r
}

func (r ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.CompositesTreesEdlHierarchyOrTemplateActionsListnodesPostExecute(r)
}

/*
CompositesTreesEdlHierarchyOrTemplateActionsListnodesPost Retrieve Specific Root Nodes

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param edlHierarchyOrTemplate Choose to retrieve either edl_hierarchy__v or edl_template__v
 @return ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest
*/
func (a *DefaultAPIService) CompositesTreesEdlHierarchyOrTemplateActionsListnodesPost(ctx context.Context, edlHierarchyOrTemplate string) ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest {
	return ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest{
		ApiService: a,
		ctx: ctx,
		edlHierarchyOrTemplate: edlHierarchyOrTemplate,
	}
}

// Execute executes the request
func (a *DefaultAPIService) CompositesTreesEdlHierarchyOrTemplateActionsListnodesPostExecute(r ApiCompositesTreesEdlHierarchyOrTemplateActionsListnodesPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CompositesTreesEdlHierarchyOrTemplateActionsListnodesPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/composites/trees/{edl_hierarchy_or_template}/actions/listnodes"
[...]
