/**
 * Veeva Vault API v25.1
 * The latest GA version of the Vault REST API.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.VobjectsObjectNameActionsMergePostRequestInner
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DefaultApi {

  def apply(baseUrl: String = "http://}/api/v25.1") = new DefaultApi(baseUrl)
}

class DefaultApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def apiGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param componentTypeAndRecordName The component type of the record followed by the name of the record from which to retrieve the content file. The format is `{Componenttype}.{record_name}`. For example, `Formattedoutput.my_formatted_output__c`.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def apiMdlComponentsComponentTypeAndRecordNameFilesGet(componentTypeAndRecordName: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/mdl/components/{component_type_and_record_name}/files", "application/json")
      .withPathParam("component_type_and_record_name", componentTypeAndRecordName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param componentTypeAndRecordName The component type name (`Picklist`, `Docfield`, `Doctype`, etc.) followed by the name of the record from which to retrieve metadata. The format is `{Componenttype}.{record_name}`. For example, `Picklist.color__c`. Find this with the [Retrieve Component Record Collection](https://developer.veevavault.com/api/24.3#Retrieve_Component_Record_Collection) endpoint.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def apiMdlComponentsComponentTypeAndRecordNameGet(componentTypeAndRecordName: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/mdl/components/{component_type_and_record_name}", "application/json")
      .withPathParam("component_type_and_record_name", componentTypeAndRecordName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param jobId 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def apiMdlExecuteAsyncJobIdResultsGet(jobId: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/mdl/execute_async/{job_id}/results", "application/json")
      .withPathParam("job_id", jobId)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def apiMdlExecuteAsyncPost(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/mdl/execute_async", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def apiMdlExecutePost(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/mdl/execute", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def apiMdlFilesPost(authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/mdl/files", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param auditTrailType The name of the specified audit type (document_audit_trail, object_audit_trail, etc). Use the Retrieve Audit Types API to retrieve types available in your Vault. Requests for login_audit_trail only accept one request per user at a time.
   * @param startDate Specify a start date to retrieve audit information. This date cannot be more than 30 days ago. Dates must be YYYY-MM-DDTHH:MM:SSZ format, for example, 7AM on January 15, 2016 would use 2016-01-15T07:00:00Z. If omitted, defaults to the last 30 days.
   * @param endDate Specify an end date to retrieve audit information. This date cannot be more than 30 days ago. Dates must be YYYY-MM-DDTHH:MM:SSZ format, for example, 7AM on January 15, 2016 would use 2016-01-15T07:00:00Z. If omitted, defaults to the last 30 days.
   * @param allDates Set to true to request audit information for all dates. You must leave start_date and end_date blank when requesting an export of a full audit trail.
   * @param formatResult To request a downloadable CSV file of your audit details, use csv. The response contains a jobId to retrieve the job status, which contains a link to download the CSV file. If omitted, the API returns a JSON response and does not start a job. If all_dates is true, this parameter is required.
   * @param limit Paginate the results by specifying the maximum number of histories per page in the response. This can be any value between 1 and 1000. If omitted, defaults to 200.
   * @param offset Paginate the results displayed per page by specifying the amount of offset from the entry returned. For example, if you are viewing the first 50 results (page 1) and want to see the next page, set this to offset=51. If omitted, defaults to 0.
   * @param objects This is an optional parameter when specifying object_audit_trail as the {audit_trail_type}. Provide a comma-separated list of one or more object names to retrieve their audit details. For example, objects=product__v,country__v. If omitted, defaults to all objects.
   * @param events This is an optional parameter when specifying object_audit_trail or document_audit_trail as the {audit_trail_type}. Provide a comma-separated list of one or more audit events to retrieve their audit details. For example, events=Edit,Delete,TaskAssignment. If omitted, defaults to all audit events. See Vault Help for full lists of object audit events and document audit events.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def audittrailAuditTrailTypeGet(auditTrailType: String, startDate: Option[String] = None, endDate: Option[String] = None, allDates: Option[String] = None, formatResult: Option[String] = None, limit: Option[String] = None, offset: Option[String] = None, objects: Option[String] = None, events: Option[String] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/audittrail/{audit_trail_type}", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("all_dates", allDates)
      .withQueryParam("format_result", formatResult)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("objects", objects)
      .withQueryParam("events", events)
      .withPathParam("audit_trail_type", auditTrailType)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def authDiscoveryPost(accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/auth/discovery", "application/json")
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param oathOidcProfileId 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def authOauthSessionOathOidcProfileIdPost(oathOidcProfileId: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/auth/oauth/session/{oath_oidc_profile_id}", "application/json")
      .withPathParam("oath_oidc_profile_id", oathOidcProfileId)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param contentType 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def authPost(contentType: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/auth", "application/json")
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param className The fully qualified class name of your file.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codeClassNameDelete(className: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/code/{class_name}", "application/json")
      .withPathParam("class_name", className)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param className The fully qualified class name of your file.
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codeClassNameDisablePut(className: String, authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/code/{class_name}/disable", "application/json")
      .withPathParam("class_name", className)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param className The fully qualified class name of your file.
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codeClassNameEnablePut(className: String, authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/code/{class_name}/enable", "application/json")
      .withPathParam("class_name", className)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param className The fully qualified class name of your file.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codeClassNameGet(className: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/code/{class_name}", "application/json")
      .withPathParam("class_name", className)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codeProfilerGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/code/profiler", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param contentType 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codeProfilerPost(authorization: Option[String] = None, contentType: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/code/profiler", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param sessionName The name of the session, for example,  baseline__c.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codeProfilerSessionNameActionsEndPost(sessionName: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/code/profiler/{session_name}/actions/end", "application/json")
      .withPathParam("session_name", sessionName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param sessionName The name of the session, for example,  baseline__c.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codeProfilerSessionNameDelete(sessionName: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/code/profiler/{session_name}", "application/json")
      .withPathParam("session_name", sessionName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param sessionName The name of the session, for example,  baseline__c.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codeProfilerSessionNameGet(sessionName: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/code/profiler/{session_name}", "application/json")
      .withPathParam("session_name", sessionName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param sessionName The name of the session, for example,  baseline__c.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codeProfilerSessionNameResultsGet(sessionName: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/code/profiler/{session_name}/results", "application/json")
      .withPathParam("session_name", sessionName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def codePut(authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/code", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param edlHierarchyOrTemplate Choose to retrieve either edl_hierarchy__v or edl_template__v
   * @param authorization 
   * @param contentType 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def compositesTreesEdlHierarchyOrTemplateActionsListnodesPost(edlHierarchyOrTemplate: String, authorization: Option[String] = None, contentType: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/composites/trees/{edl_hierarchy_or_template}/actions/listnodes", "application/json")
      .withPathParam("edl_hierarchy_or_template", edlHierarchyOrTemplate)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param edlHierarchyOrTemplate 
   * @param authorization 
   * @param contentType 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def compositesTreesEdlHierarchyOrTemplateGet(edlHierarchyOrTemplate: String, authorization: Option[String] = None, contentType: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/composites/trees/{edl_hierarchy_or_template}", "application/json")
      .withPathParam("edl_hierarchy_or_template", edlHierarchyOrTemplate)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param parentNodeId The ID of a parent node in the hierarchy.
   * @param authorization 
   * @param contentType 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def compositesTreesEdlHierarchyVParentNodeIdChildrenGet(parentNodeId: String, authorization: Option[String] = None, contentType: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/composites/trees/edl_hierarchy__v/{parent_node_id}/children", "application/json")
      .withPathParam("parent_node_id", parentNodeId)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param parentNodeId The ID of a parent node in the hierarchy.
   * @param authorization 
   * @param contentType 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def compositesTreesEdlHierarchyVParentNodeIdChildrenPut(parentNodeId: String, authorization: Option[String] = None, contentType: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/composites/trees/edl_hierarchy__v/{parent_node_id}/children", "application/json")
      .withPathParam("parent_node_id", parentNodeId)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param componentTypeAndRecordName The component type name (`Picklist`, `Docfield`, `Doctype`, etc.) followed by the name of the record from which to retrieve metadata. The format is `{Componenttype}.{record_name}`. For example, `Picklist.color__c`. Find this with the [Retrieve Component Record Collection](https://developer.veevavault.com/api/24.3#Retrieve_Component_Record_Collection) endpoint.
   * @param loc When localized (translated) strings are available, retrieve them by setting loc to true.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def configurationComponentTypeAndRecordNameGet(componentTypeAndRecordName: String, loc: Option[String] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/configuration/{component_type_and_record_name}", "application/json")
      .withQueryParam("loc", loc)
      .withPathParam("component_type_and_record_name", componentTypeAndRecordName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param componentType 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def configurationComponentTypeGet(componentType: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/configuration/{component_type}", "application/json")
      .withPathParam("component_type", componentType)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param objectNameAndObjectType The object name followed by the object type in the format `Objecttype.{object_name}.{object_type}`. For example, `Objecttype.product__v.base__v`.
   * @param loc When localized (translated) strings are available, retrieve them by setting loc to true.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def configurationObjectNameAndObjectTypeGet(objectNameAndObjectType: String, loc: Option[String] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/configuration/{object_name_and_object_type}", "application/json")
      .withQueryParam("loc", loc)
      .withPathParam("object_name_and_object_type", objectNameAndObjectType)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def configurationObjecttypeGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/configuration/Objecttype", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def configurationRoleAssignmentRuleDelete(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/configuration/role_assignment_rule", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param lifecycleV Include the name of the lifecycle from which to retrieve information. For example: lifecycle_v=general_lifecycle__c
   * @param roleV Include the name of the role from which to retrieve information. For example: role__v=editor__c
   * @param productV Include the ID/name of a specific product to see product-based override rules to default users/allowed users for the lifecycle role. For example: product__v=0PR0011001 or product__v.name__v=CholeCap
   * @param countryV Include the ID/name of a specific country to see country-based override rules to default users/allowed users for the lifecycle role. For example: country__v=0CR0022002 or country__v.name__v=United States
   * @param studyV In eTMF Vaults only. Include the ID/name of a specific study to see study-based override rules to default users/allowed users for the lifecycle role. For example: study__v=0ST0021J01 or study__v.name__v=CholeCap Study
   * @param studyCountryV In eTMF Vaults only. Include the ID/name of a specific study country to see study country-based override rules to default users/allowed users for the lifecycle role. For example: study_country__v=0SC0001001 or study_country__v.name__v=Germany
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def configurationRoleAssignmentRuleGet(lifecycleV: Option[String] = None, roleV: Option[String] = None, productV: Option[String] = None, countryV: Option[String] = None, studyV: Option[String] = None, studyCountryV: Option[String] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/configuration/role_assignment_rule", "application/json")
      .withQueryParam("lifecycle__v", lifecycleV)
      .withQueryParam("role__v", roleV)
      .withQueryParam("product__v", productV)
      .withQueryParam("country__v", countryV)
      .withQueryParam("study__v", studyV)
      .withQueryParam("study_country__v", studyCountryV)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def configurationRoleAssignmentRulePost(authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/configuration/role_assignment_rule", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def configurationRoleAssignmentRulePut(authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/configuration/role_assignment_rule", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization The sessionId of the currently authenticated user who will initiate the delegated session. Cannot be a delegated_sessionid.
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def delegationLoginPost(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/delegation/login", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def delegationVaultsGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/delegation/vaults", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def keepAlivePost(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/keep-alive", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def limitsGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/limits", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param date The day to retrieve the API Usage log. Date is in UTC and follows the format YYYY-MM-DD. Date cannot be more than 30 days in the past.
   * @param logFormat Optional: Specify the format to download. Possible values are csv or logfile. If omitted, defaults to csv. Note that this call always downloads a ZIP file. This parameter only changes the format of the file contained within the ZIP. 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def logsApiUsageGet(date: Option[String] = None, logFormat: Option[String] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/logs/api_usage", "application/json")
      .withQueryParam("date", date)
      .withQueryParam("log_format", logFormat)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param userId Filter results to retrieve the debug log for this user ID only. If omitted, this request retrieves debug logs for all users in the Vault.
   * @param includeInactive Set to `true` to include debug log sessions with a status of `inactive__sys` in the response. If omitted, defaults to `false` and inactive sessions are not included in the response.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def logsCodeDebugGet(userId: Option[String] = None, includeInactive: Option[Boolean] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/logs/code/debug", "application/json")
      .withQueryParam("user_id", userId)
      .withQueryParam("include_inactive", includeInactive)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param id The ID of the debug log to delete.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def logsCodeDebugIdActionsResetDelete(id: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/logs/code/debug/{id}/actions/reset", "application/json")
      .withPathParam("id", id)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param id The ID of the debug log to delete.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def logsCodeDebugIdActionsResetPost(id: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/logs/code/debug/{id}/actions/reset", "application/json")
      .withPathParam("id", id)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param id The ID of the debug log to download.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def logsCodeDebugIdFilesGet(id: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/logs/code/debug/{id}/files", "application/json")
      .withPathParam("id", id)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param id The ID of the debug log to retrieve.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def logsCodeDebugIdGet(id: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/logs/code/debug/{id}", "application/json")
      .withPathParam("id", id)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def logsCodeDebugPost(authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/logs/code/debug", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param date 
   * @param logFormat Optional: Specify the format to download. Possible values are csv or logfile. If omitted, defaults to csv. Note that this call always downloads a ZIP file. This parameter only changes the format of the file contained within the ZIP. 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def logsCodeRuntimeGet(date: Option[String] = None, logFormat: Option[String] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/logs/code/runtime", "application/json")
      .withQueryParam("date", date)
      .withQueryParam("log_format", logFormat)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param messageType The message type name: field_labels__sys, system_messages__sys, notification_template_messages__sys, or user_account_messages__sys.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def messagesMessageTypeActionsImportPost(messageType: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/messages/{message_type}/actions/import", "application/json")
      .withPathParam("message_type", messageType)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param messageType The message type name: field_labels__sys, system_messages__sys, notification_template_messages__sys, or user_account_messages__sys.
   * @param lang A valid language code value, for example, en. Retrieve available values from the Admin Key (admin_key__sys) field on the Language (language__sys) object. Active and Inactive languages are both valid. 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def messagesMessageTypeLanguageLangActionsExportPost(messageType: String, lang: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/messages/{message_type}/language/{lang}/actions/export", "application/json")
      .withPathParam("message_type", messageType)
      .withPathParam("lang", lang)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param auditTrailType The name of the specified audit type (document_audit_trail, object_audit_trail, etc).
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataAudittrailAuditTrailTypeGet(auditTrailType: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/audittrail/{audit_trail_type}", "application/json")
      .withPathParam("audit_trail_type", auditTrailType)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataAudittrailGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/audittrail", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param componentType The component type name (Picklist, Docfield, Doctype, etc.).
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataComponentsComponentTypeGet(componentType: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/components/{component_type}", "application/json")
      .withPathParam("component_type", componentType)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataComponentsGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/components", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsBindersTemplatesBindernodesGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/binders/templates/bindernodes", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsBindersTemplatesGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/binders/templates", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param placemarkType The name of the placemark type. For example, sticky__sys.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsAnnotationsPlacemarksTypesPlacemarkTypeGet(placemarkType: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/annotations/placemarks/types/{placemark_type}", "application/json")
      .withPathParam("placemark_type", placemarkType)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param referenceType 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsAnnotationsReferencesTypesReferenceTypeGet(referenceType: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/annotations/references/types/{reference_type}", "application/json")
      .withPathParam("reference_type", referenceType)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param annotationType The name of the annotation type. Valid annotation types include: `note__sys` `line__sys` `document_link__sys` `permalink_link__sys` `anchor__sys` `reply__sys` `external_link__sys`  The following annotation types are only valid in Medical and PromoMats Vaults:  `suggested_link__sys` `approved_link__sys` `auto_link__sys` `keyword_link__sys`
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsAnnotationsTypesAnnotationTypeGet(annotationType: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/annotations/types/{annotation_type}", "application/json")
      .withPathParam("annotation_type", annotationType)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param eventType The event type. For example, distribution__v.
   * @param eventSubtype The event subtype. For example, approved_email__v.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsEventsEventTypeTypesEventSubtypeGet(eventType: String, eventSubtype: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/events/{event_type}/types/{event_subtype}", "application/json")
      .withPathParam("event_type", eventType)
      .withPathParam("event_subtype", eventSubtype)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsEventsGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/events", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsLockGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/lock", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param contentType 
   * @param accept 
   * @param authorization 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsPropertiesFindCommonPost(contentType: Option[String] = None, accept: Option[String] = None, authorization: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/metadata/objects/documents/properties/find_common", "application/json")
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsPropertiesGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/properties", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsTemplatesGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/templates", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsTypesGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/types", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param `type` The document type. See Retrieve Document Types.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsTypesTypeGet(`type`: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/types/{type}", "application/json")
      .withPathParam("type", `type`)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param `type` The document type. See Retrieve Document Types.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsTypesTypeRelationshipsGet(`type`: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/types/{type}/relationships", "application/json")
      .withPathParam("type", `type`)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param `type` The document type. See Retrieve Document Types.
   * @param subtype The document subtype. See Retrieve Document Types.
   * @param classification The document classification. See Retrieve Document Types.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsTypesTypeSubtypesSubtypeClassificationsClassificationGet(`type`: String, subtype: String, classification: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/types/{type}/subtypes/{subtype}/classifications/{classification}", "application/json")
      .withPathParam("type", `type`)
      .withPathParam("subtype", subtype)
      .withPathParam("classification", classification)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param `type` The document type. See Retrieve Document Types.
   * @param subtype The document subtype. See Retrieve Document Types.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsDocumentsTypesTypeSubtypesSubtypeGet(`type`: String, subtype: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/documents/types/{type}/subtypes/{subtype}", "application/json")
      .withPathParam("type", `type`)
      .withPathParam("subtype", subtype)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsGroupsGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/groups", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsSecuritypoliciesGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/securitypolicies", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataObjectsUsersGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/objects/users", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataQueryArchivedDocumentsRelationshipsDocumentSignatureSysrGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/query/archived_documents/relationships/document_signature__sysr", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataQueryDocumentsRelationshipsDocumentSignatureSysrGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/query/documents/relationships/document_signature__sysr", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param loc To retrieve localized (translated) strings, include the parameter loc=true. See the next request below for details.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataVobjectsGet(loc: Option[Boolean] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/vobjects", "application/json")
      .withQueryParam("loc", loc)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param objectName 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataVobjectsObjectNameActionsCanceldeploymentPost(objectName: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/metadata/vobjects/{object_name}/actions/canceldeployment", "application/json")
      .withPathParam("object_name", objectName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param objectName The object name__v field value (product__v, country__v, custom_object__c, etc.).
   * @param objectFieldName The object field name value (id, name__v, external_id__v, etc.).
   * @param loc To retrieve localized (translated) strings, include the parameter loc=true. See the next request below for details.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataVobjectsObjectNameFieldsObjectFieldNameGet(objectName: String, objectFieldName: String, loc: Option[Boolean] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/vobjects/{object_name}/fields/{object_field_name}", "application/json")
      .withQueryParam("loc", loc)
      .withPathParam("object_name", objectName)
      .withPathParam("object_field_name", objectFieldName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param objectName The object name__v field value (product__v, country__v, custom_object__c, etc.).
   * @param loc To retrieve localized (translated) strings, include the parameter loc=true. See the next request below for details.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataVobjectsObjectNameGet(objectName: String, loc: Option[Boolean] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/vobjects/{object_name}", "application/json")
      .withQueryParam("loc", loc)
      .withPathParam("object_name", objectName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param objectName 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataVobjectsObjectNamePageLayoutsGet(objectName: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/vobjects/{object_name}/page_layouts", "application/json")
      .withPathParam("object_name", objectName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param objectName The name of the object from which to retrieve page layout metadata.
   * @param layoutName The name of the page layout from which to retrieve metadata.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def metadataVobjectsObjectNamePageLayoutsLayoutNameGet(objectName: String, layoutName: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/metadata/vobjects/{object_name}/page_layouts/{layout_name}", "application/json")
      .withPathParam("object_name", objectName)
      .withPathParam("layout_name", layoutName)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param startDate Specify a start date to retrieve notification history. This date cannot be more than 2 years ago. Dates must be in YYYY-MM-DD or YYYY-MM-DDTHH:mm:ssZ format. If time is omitted (THH:mm:ssZ), defaults to the start of the day. If start_date is omitted entirely, defaults to the start of the previous day. If you’ve specified a start_date, you must also specify an end_date.
   * @param endDate Specify an end date to retrieve notification history. This date cannot be more than 30 days away from the specified start_date. Dates must be in YYYY-MM-DD or YYYY-MM-DDTHH:mm:ssZ format. If time is omitted (THH:mm:ssZ), defaults to the time of the API request. If you’ve specified an end_date, you must also specify a start_date.
   * @param allDates Set to true to request notification history for all dates. This is the same as requesting a full CSV export from the Vault UI. When requesting a full notification history, you must leave start_date and end_date blank and set format_result to csv. You can request an export of notification history for all_dates once every 24 hours.
   * @param formatResult To request a downloadable CSV file of your notification history, set this parameter to csv. The response contains a jobId to retrieve the job status, which provides a link to download the CSV file. If omitted, the API returns a JSON response with notification history and does not start a job. If all_dates is true, this parameter must be csv.
   * @param limit Paginate the results by specifying the maximum number of histories per page in the response. This can be any value between 1 and 1000. If omitted, defaults to 200.
   * @param offset Paginate the results displayed per page by specifying the amount of offset from the entry returned. If omitted, defaults to 0.
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def notificationsHistoriesGet(startDate: Option[String] = None, endDate: Option[String] = None, allDates: Option[Boolean] = None, formatResult: Option[String] = None, limit: Option[String] = None, offset: Option[String] = None, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/notifications/histories", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("all_dates", allDates)
      .withQueryParam("format_result", formatResult)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param action 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def objectWorkflowActionsActionGet(action: String, authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/object/workflow/actions/{action}", "application/json")
      .withPathParam("action", action)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param action 
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def objectWorkflowActionsActionPost(action: String, authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/object/workflow/actions/{action}", "application/json")
      .withPathParam("action", action)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def objectWorkflowActionsCanceltasksPost(authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/object/workflow/actions/canceltasks", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def objectWorkflowActionsCancelworkflowsPost(authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/object/workflow/actions/cancelworkflows", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def objectWorkflowActionsGet(authorization: Option[String] = None, accept: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/object/workflow/actions", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param contentType 
   * @param xVaultAPIClientID Include a Client ID to identify this request. This ID appears in the API Usage Logs, which is avaiable to download from Admin > Logs > API Usage Logs or through the Vault REST API with the Download Daily API Usage request. If omitted, the value will appear as `unknown` in the API Usage Log.
   */
  def objectWorkflowActionsReassigntasksPost(authorization: Option[String] = None, accept: Option[String] = None, contentType: Option[String] = None, xVaultAPIClientID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/object/workflow/actions/reassigntasks", "application/json")
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Accept", accept)
      .withHeaderParam("Content-Type", contentType)
      .withHeaderParam("X-VaultAPI-ClientID", xVaultAPIClientID)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Success)
   * 
   * @param authorization 
   * @param accept 
   * @param contentType 
[...]
